{layout 'dashboard.latte'}

{block title}View Course{/block}

{block display}
    {if $gradebook}
        <h4>{$classname}</h4>
    {else}
        There is no gradebook available for this course.
    {/if}
{/block}
